## Imports

In [60]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [61]:
df = pd.read_csv('combined_df.csv')

In [62]:
df_relevant = df[['Type', 'Genres', 'Category', 'Content Rating', 'Normal_Rating_Count', 'Normal_Rating','Normal_Reviews', 'Normal_Size', 'Normal_Installs', 'Normal_Price', 'Normal_Revenue', 'Normal_popularity']]

## Label Encoding for ordinal categorical data

In [63]:
label_encoder = LabelEncoder()
df_relevant['Content Rating'] = label_encoder.fit_transform(df_relevant['Content Rating'])

C:\Users\ewint\AppData\Local\Temp\ipykernel_7092\2696931585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_relevant['Content Rating'] = label_encoder.fit_transform(df_relevant['Content Rating'])

## One-Hot Encoding for nominal categorical data

In [64]:
# onehot_encoder = OneHotEncoder(sparse=False)
#
# encoded_genres = onehot_encoder.fit_transform(df_relevant[['Genres']])
# encoded_genres_df = pd.DataFrame(encoded_genres, columns=onehot_encoder.get_feature_names_out(['Genres']))
# df_relevant = pd.concat([df_relevant, encoded_genres_df], axis=1).drop(['Genres'], axis=1)
#
# encoded_genres = onehot_encoder.fit_transform(df_relevant[['Category']])
# encoded_genres_df = pd.DataFrame(encoded_genres, columns=onehot_encoder.get_feature_names_out(['Category']))
# df_relevant = pd.concat([df_relevant, encoded_genres_df], axis=1).drop(['Category'], axis=1)
# df_relevant

In [65]:
# Example using pandas get_dummies for nominal data
df_relevant = pd.get_dummies(df_relevant, columns=['Genres', 'Category'], drop_first=False)
for col in df_relevant.columns:
    if 'Genres' in col or 'Category' in col:
        df_relevant[col] = df_relevant[col].astype(int)

df_relevant

,Type,Content Rating,Normal_Rating_Count,Normal_Rating,Normal_Reviews,Normal_Size,Normal_Installs,Normal_Price,Normal_Revenue,Normal_popularity,...,Category_Simulation,Category_Social,Category_Sports,Category_Strategy,Category_Tools,Category_Travel & Local,Category_Trivia,Category_Video Players & Editors,Category_Weather,Category_Word
0,0,0,8.000000e-06,0.69,5.500000e-06,5.500000e-06,0.000020,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,0,0,6.693000e-04,0.81,6.956000e-04,6.956000e-04,0.002000,0.0,0.0,0.000001,...,0,0,0,0,0,0,0,0,0,0
2,0,3,1.197000e-04,0.87,1.706000e-04,1.706000e-04,0.000200,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,0,3,8.000000e-07,0.83,3.951000e-04,3.951000e-04,0.000002,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,0,3,3.617000e-04,0.83,5.733000e-04,5.733000e-04,0.002000,0.0,0.0,0.000001,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,0,3,4.170000e-05,0.80,6.050000e-05,6.050000e-05,0.000020,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
6246,0,3,5.510000e-05,0.80,7.180000e-05,7.180000e-05,0.000200,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
6247,0,0,7.600000e-06,0.84,9.800000e-06,9.800000e-06,0.000100,0.0,0.0,0.000000,...,0,0,0,0,1,0,0,0,0,0
6248,0,2,6.634000e-04,0.79,1.059400e-03,1.059400e-03,0.001000,0.0,0.0,0.000001,...,0,1,0,0,0,0,0,0,0,0
6249,0,0,8.000000e-07,0.90,7.000000e-07,7.000000e-07,0.000002,0.0,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0